body {
  font-family: tahoma;
}

.flair * {
  margin:0 4px;
  padding:0;
  vertical-align: top;
}

.flair {
  text-align: center;
  margin: 24px 1px;
  vertical-align: center;
}

#game {
  margin: 0 auto;
  width: auto;
  min-height: 400px;
  max-width: 90%;
  background-color: #09752f;
}

.pile {
  width: 70px;
  margin: 1px;
}

.red {
  color: red;
}

.card {
  margin: 0;
  width: 69px;
  height: 100px;
  cursor: pointer;
  font-size: 1.4em;
  text-align: center;
  border: 1px solid #000;
  vertical-align: text-bottom;
  opacity: 1;
  background-color: #eee;
}

.hand {
  margin: 0 auto;
  width: auto;
  min-height: 100px;
  max-width: 90%;
}

.hand .card {
  float: left;
}

.can-hover .card .clickables {
  visibility: hidden;
}
.card:hover > .clickables {
  visibility: visible;
}

.chosen {
  border: 4px solid #00f;
}

.cardback {
  background-image: url(../img/cardback.png);
  background-size: 67px;
  background-repeat: no-repeat;
}

i {
  margin: 4px;
}

.giant {
  font-size: 3em;
}
