body {
  font-family: tahoma;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flair * {
  margin:0 4px;
  padding:0;
  vertical-align: top;
}

.flair {
  text-align: center;
  margin: 24px 1px;
  vertical-align: center;
}

#game {
  margin: 0 auto;
  text-align: center;
  max-width:940px;
}

#game * {
  padding: 0;

}

#board {
  min-height: 400px;
  overflow: auto;
  background-color: #09752f;
}

#hand {
  min-height: 100px;
}

.pile {
  width: 70px;
  margin: 1px;
}

.red {
  color: red;
}

.card {
  display: inline-block;
  margin: 1px;
  width: 69px;
  height: 100px;
  cursor: pointer;
  font-size: 1.4em;
  text-align: center;
  border: 1px solid #000;
  vertical-align: text-bottom;
  opacity: 1;
  background-color: #eee;
}

.cardback {
  background-image: url(../img/cardback.png);
  background-size: 67px;
  background-repeat: no-repeat;
}

i {
  margin: 4px;
}

.giant {
  font-size: 3em;
}
