html, body {
  font-family: tahoma;
  margin:0;
  padding:0;
  height:100%;
  background-color: #f7f5e6;
}

#container {
  min-height: 100%;
  position: relative;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flair {
  text-align: center;
  padding: 24px 1px;
  vertical-align: center;
}

.flair * {
  margin: 0 4px;
  padding: 0;
  vertical-align: top;
}

#footer {
  font-size: 0.8em;
  vertical-align: center;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: #e8e8e8;
}

#footer a {
  text-decoration: none;
  color: #333a56;
}

#footer a:hover {
  text-decoration: none;
  color: #555c78;
}

#game * {
  padding: 0;
}

#game {
  margin: 0 auto;
  text-align: center;
  height: 80%;
  width: 90%;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  position: relative;
}

#board {
  min-height: 240px;
  position: relative;
  background-color: #1b7b34;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#board .resizer, #hand .resizer {
  width: 100%;
  margin-bottom: 12px;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

#hand {
  min-height: 120px;
  margin-bottom: 12px;
  background-color: #d5d5d5;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#controls {
  padding-bottom: 44px;
}

#controls {
  text-align: center;
  padding: 24px 1px;
  vertical-align: center;
}

#controls i {
  cursor: pointer;
}

#controls i:hover {
  color: #555;
}

.red {
  color: red;
}

.card {
  margin: 2px;
  margin-bottom: 24px;
  width: 69px;
  height: 100px;
  cursor: pointer;
  font-size: 1.4em;
  text-align: center;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  vertical-align: text-bottom;
  opacity: 1;
  background-color: #eee;
  position: absolute;
  touch-action: none;
}

.cardback {
  background-image: url(../img/cardback.png);
  background-size: 69px;
  background-repeat: no-repeat;
}

.card-menu {
  width: 50px;
  z-index: 999999;
  display: none;
  position: fixed;
  background-color: #c0c0c0;
  border: 1px solid #232342;
}

.menu-item {
  cursor: pointer;
  margin: 14px;
}

.pile-0 {
  box-shadow: 0px 0px 0px #111;
}

.pile-13 {
  box-shadow: 2px 2px 1px #111;
}

.pile-26 {
  box-shadow: 4px 4px 2px #111;
}

.pile-39 {
  box-shadow: 6px 6px 3px #111;
}

.pile-52 {
  box-shadow: 8px 8px 4px #111;
}

i {
  margin: 4px;
}

.giant {
  font-size: 3em;
}



